CDrawBoardWidget
{
    background-color:#7FFFD4;
    padding:0px;
    margin:0px;
}

CDrawBoardWidget QToolButton#RotateBtn
{
    background-color:#FFA500;
    padding:0px;
    margin:2px;
    border:none;
    font-family:"YouYuan";
    font-size:14px;
    color:#222222;
}

CDrawBoardWidget QToolButton#RotateBtn:hover
{
    background-color:#FF8C00;
}


